
body {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: darkgrey;
}

.calculator__wrap {
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .calculator__display {
        width: 100%;
        height: 80px;
        position: relative;
        text-align: end;
        overflow: hidden;

        .calculator__result {
            height: 70%;
            width: 100%;
            font-size: 35px;
            position: absolute;
            bottom: 0;
            right: 0;
            line-height: 200%;
            padding-right: 10px;
        }

        .display__value-handler {
            height: 30%;
            width: 200px;
            font-size: 16px;
            position: absolute;
            top: 0;
            right: 0;
            line-height: 250%;
            padding-right: 10px;
        }
    }

    .calculator__buttons {
        background-color: white;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 2px;

        .button {
            height: 50px;
            width: 70px;
        }
    }
}